# WaterSlayer Data
# Ignore generated media under data/
/data/input/*
!/data/input/.gitkeep
/data/output/*
!/data/output/.gitkeep
/data/models/*
!/data/models/.gitkeep
/data/temp/*
!/data/temp/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/

# Downloaded models
*.pt
